{% extends "core_pages/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div id="login-security" class="container">
  <div class="row mt-5 mb-3">
    <div class="col">
      <a href="{% url 'user_account:profile' %}">Your account</a> | <a href="{% url 'user_account:security' %}">Login & security</a> | Change password
    </div>
  </div>
  <div class="row ml-2">
    <h4>Change password</h4>
  </div>
  <div class="row">
    <div class="col-12 border rounded">
      <div class="row my-2">
        <div class="col">
          <p>Use the form below to change the password for your Qualified Dad account</p>
          <span class="d-none">{{ user }}</span>
          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
              {% csrf_token %}
              {{ form.oldpassword.errors }}
              <div class="my-2 col-md-6 col-xl-4">
              {{ form.oldpassword.label }}
              <input type="password" name="oldpassword" class="form-control" placeholder="Current password" required id="id_oldpassword">
              </div>
              {{ form.password1.errors }}
              <div class="my-2 col-md-6 col-xl-4">
              {{ form.password1.label }}
              <input type="password" name="password1" class="form-control" placeholder="New password" required id="id_password1">
              </div>
              {{ form.password2.errors }}
              <div class="my-2 col-md-6 col-xl-4">
              {{ form.password2.label }}
              <input type="password" name="password2" class="form-control" placeholder="New password (again)" required id="id_password2">
              </div>
              <button type="submit" class="btn btn-success my-2" name="action">Save changes</button>
          </form><!-- end change name form -->
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end col bordered -->
  </div><!-- end row -->
</div><!-- end container -->
{% endblock %}
