<div class="container px-0">
  <div class="row pt-3 pb-2" style="background:#c7c4d666">
    <div class="col mx-3">
      <p><b>NEED HELP?
      </b></p>
    </div>
  </div>
  <div id="accordion">
    <div class="container pt-2 px-0">
      <a class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#shipping" aria-expanded="false" aria-controls="shipping">
        <div class="row pl-3">
          <div id="shipping-heading" class="tab-heading pb-2">
            <i class="fas fa-plus fa-2x d-inline" style="color:blue;"></i>
            <h4 class="pl-4 d-inline align-top">Shipping information</h4>
          </div>
        </div>
      </a>
      <div id="shipping" class="collapse px-3" aria-labelledby="shipping-heading" data-parent="#accordion">
        <div class="row">
          <div class="col">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <hr class="mt-0 mb-2">
      <a class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#returns" aria-expanded="false" aria-controls="returns">
        <div class="row pl-3">
          <div id="returns-heading" class="tab-heading pb-2">
            <i class="fas fa-plus fa-2x d-inline" style="color:blue;"></i>
            <h4 class="pl-4 d-inline align-top">Returns & exchanges</h4>
          </div>
        </div>
      </a>
      <div id="returns" class="collapse px-3" aria-labelledby="returns-heading" data-parent="#accordion">
        <div class="row">
          <div class="col">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <hr class="mt-0 mb-2">
      <a class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#privacy" aria-expanded="false" aria-controls="privacy">
        <div class="row pl-3">
          <div id="privacy-heading" class="tab-heading pb-2">
            <i class="fas fa-plus fa-2x d-inline" style="color:blue;"></i>
            <h4 class="pl-4 d-inline align-top">Privacy policy</h4>
          </div>
        </div>
      </a>
      <div id="privacy" class="collapse px-3" aria-labelledby="privacy-heading" data-parent="#accordion">
        <div class="row">
          <div class="col">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <hr class="mt-0 mb-2">
    </div>
  </div>
</div>
