{% extends 'core_pages/base.html' %}

{% block css %}

  <title>Place Autocomplete Address Form</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

  <script>
    var placeSearch, autocomplete;
    var componentForm = {
      // street_number: 'short_name', FOR USA, STREET NUMBER AND NAME ARE IN THE SAME FIELD
      route: 'long_name',
      // postal_town: 'long_name', UK ONLY
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };

    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
          {types: ['geocode']});

      // When the user selects an address from the dropdown, populate the address
      // fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();

      for (var component in componentForm) {
        document.getElementById(component).value = '';
        document.getElementById(component).disabled = false;
      }

      // Get each component of the address from the place details
      // and fill the corresponding field on the form.
      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
          var val = place.address_components[i][componentForm[addressType]];
          document.getElementById(addressType).value = val;
        }
      }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOxzOxxmHAcHP86eGEgz5zUOD5tfoFKxk&libraries=places&callback=initAutocomplete"
      async defer></script>
{% endblock %}

{% block content %}
<div class="container p-4">
  <div class="row mt-5 mb-3">
    <div class="col">
      <a href="{% url 'user_account:profile' %}">Your account</a> | <a href="{% url 'user_account:user_address' %}">Your addresses</a> | New Address
    </div>{# end col #}
  </div>{# end row #}
  <div class="row ml-2">
    <h4>Add a new address</h4>
  </div>{# end row #}
  <div class="row">
    <div class="col-12 border rounded">
      {% include "addresses/address_form.html" %}
    </div>{# end col #}
  </div>{# end row #}
</div>{# end container #}
{% endblock %}
