FAQ
Olan Rogers Supply is now Star Cadet!
Different Name. Same Mission.


How can I exchange my order?
Please fill out this form!

 

When is the next The Soda Parlor event?
Sign up for the mailing list here to be notified!



Do you have a military discount?
Yes! Please apply here.



Where is my order?
Chances are it's being printed just for you as you're reading this, or it has already shipped via carrier falcon! We're an independently owned apparel shop so things take a bit longer. Think of us more as a small mom and pop bistro at the corner of Wellington and Grand, as opposed to the fast food mega giant, of clothing. Let's be honest: we don't have speed as an ally. So please allow 10-21 business days for your package to be sent. If you're shopping internationally, please allow 3-4 weeks for delivery. We also ask you allow a little extra time during limited releases, sales, and holidays. It could arrive sooner so keep your eyes glued to the post box!

Sometimes things get lost in transit. If it's been longer than 3 weeks please email:
helpme@starcadet.com



Do you ship outside of the USA?
Yes, shipping will be a little more and the wait time is usually around three weeks. Unless you have a magic school bus and you want to pick it up. Some countries charge customs fees, in which case the receiver of cotton (you) will be responsible.



Do you need a PayPal account to get a shirt?
Nope!



How do I create an account?
You don't need an account to place an order.
If you want one, the form is on the "Thank you" page (shown after your order has been placed).



How are your items printed?
Screen printed by hands. Human hands. We tried hiring a Troll but his hands were way too big and just dirty.



Can I exchange or return my shirt?
Yes, only if it hasn't been worn, washed or used during a zombie killing spree. You will just be responsible for return shipping.



Where can I exchange/return?
Please fill out the exchange/return form here.
