<div class="d-none d-md-block">
  <div class="row pt-2">
    <p id="share-text"><b>Share</b></p>
    <ul class="list-unstyled list-inline social text-center">
      <li class="list-inline-item"><a href="#"><i id="facebook-share" class="fab fa-facebook-f"></i></a></li>
      <li class="list-inline-item"><a href="#"><i id="twitter-share" class="fab fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="#"><i id="instagram-share" class="fab fa-instagram"></i></a></li>
      <li class="list-inline-item"><a href="#"><i id="google-share" class="fab fa-google-plus-g"></i></a></li>
      <li class="list-inline-item"><a href="#" target="_blank"><i id="email-share" class="fas fa-envelope"></i></a></li>
    </ul>
  </div>{# end row #}
</div>{# end hidden #}
