<nav aria-label="Review Navigation">
  <ul class="pagination pagination-sm justify-content-center">
    {% if reviews.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?{% if star_rating %}star_rating={{ star_rating }}&{% endif %}review_page=1#review-container"><i class="fas fa-angle-double-left"></i></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?{% if star_rating %}star_rating={{ star_rating }}&{% endif %}review_page={{ reviews.previous_page_number }}#review-container"><i class="fas fa-angle-left"></i></a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link"><i class="fas fa-angle-double-left"></i></a>
    </li>
    <li class="page-item disabled">
      <a class="page-link"><i class="fas fa-angle-left"></i></a>
    </li>
    {% endif %}
    {% for num in reviews.paginator.page_range %}
    {% if reviews.number == num %}
    <li class="page-item active">
      <a class="page-link" href="?{% if star_rating %}star_rating={{ star_rating }}&{% endif %}review_page={{ num }}#review-container">{{ num }}
        <span class="sr-only">current</span>
      </a>
    </li>
    {% elif num > reviews.number|add:'-3' and num < reviews.number|add:'3' %}
    <li class="page-item">
      <a class="page-link" href="?{% if star_rating %}star_rating={{ star_rating }}&{% endif %}review_page={{ num }}#review-container">{{ num }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% if reviews.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{% if star_rating %}star_rating={{ star_rating }}&{% endif %}review_page={{ reviews.next_page_number }}#review-container"><i class="fas fa-angle-right"></i></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?{% if star_rating %}star_rating={{ star_rating }}&{% endif %}review_page={{ reviews.paginator.num_pages }}#review-container"><i class="fas fa-angle-double-right"></i></a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link"><i class="fas fa-angle-right"></i></a>
    </li>
    <li class="page-item disabled">
      <a class="page-link"><i class="fas fa-angle-double-right"></i></a>
    </li>
    {% endif %}
  </ul>
</nav>
