<div class="row">
  <div class="col-md mb-2">
    <div class="container border rounded">
      <div class="row">
        <div class="col-4 border rounded-left text-center" style="background-color:#d2d2d2; height: 100px">
          <br>
          <i class="fas fa-shipping-fast fa-3x" style="color:#000000ab"></i>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              <h4><b>Free Shipping!</b></h4>
            </div>
          </div>
          <div class="row align-middle">
            <div class="col">
              <p><small>Free Shipping to the U.S.A on selected items.</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="container border rounded">
      <div class="row">
        <div class="col-4 border rounded-left text-center" style="background-color:#d2d2d2; height: 100px">
          <br>
          <i class="fas fa-headset fa-3x" style="color:#000000ab"></i>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              <h4><b>Got Questions?</b></h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p><small>We are happy to help! Email us: support@qualifieddad.com</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
