<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<a class="navbar-brand" href="{% url 'core_pages:home' %}">
					<img src="/media/logo-qualified-dad-fill-star-20-white-grunge.png" width="100" height="100" class="d-inline-block align-top" alt="">
					</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="{% url 'core_pages:home' %}"><i class="fas fa-angle-double-right fa-fw"></i>Home</a></li>
						<li><a href="{% url 'core_pages:about_us' %}"><i class="fas fa-angle-double-right fa-fw"></i>About</a></li>
						<li><a href="{% url 'core_pages:home' %}"><i class="fas fa-angle-double-right fa-fw"></i>FAQ</a></li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="{% url 'contact_pages:contact_us' %}"><i class="fas fa-angle-double-right fa-fw"></i>Contact Us</a></li>
						<li><a href="{% url 'core_pages:home' %}"><i class="fas fa-angle-double-right fa-fw"></i>Privacy Policy</a></li>
						<li><a href="{% url 'core_pages:home' %}"><i class="fas fa-angle-double-right fa-fw"></i>Terms, Conditions & Returns</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li> <!-- fa-2x foot -->
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy; All rights Reserved.<a class="text-green ml-2" href="https://www.qualifieddad.com" target="_blank">QualifiedDad.com</a></p>
				</div>
				<hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
